*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    display: grid;
    grid-template-rows: 100px 1fr;
}

.nav-container{
    background-color: red;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    gap: 50px;
    list-style-type: none;
    grid-template: 
    "nameOfChamp . champions tiles"1fr/
    250px 4fr 1fr 1fr
}

.nav-item{
    padding: 10px;
    font-size: 2rem;
    border-radius: 5px;
    display: grid;
    place-items: center;
}

.name-of-champ{
    grid-area: nameOfChamp;
}

.champions-nav{
    grid-area: champions;
}

.tiles-nav{
    grid-area: tiles;
}

.nav-container .nav-item{
    background-color: white;
}

.left-champ-section{
    margin-left: 30px;
    margin-right: 30px;
    padding: 40px;
    border-radius: 20px;
    background-image: url("/images/champion/centered/Aatrox_0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    gap: 50px;
    grid-template-rows: 0.8fr 1fr;
  }

  .title, .abilities-title{
      font-size: 3rem;
      color: white;
      margin-bottom: 2.5%;
  }

  .lore{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 30px;
  }
  .lore-text{
      font-size: 1.3rem;
  }

  .ability-icons-container{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 30px;
      border-radius: 20px;
      border-left: 1px goldenrod solid;
  }
  
.ability-icons-container > div{
    display: grid;
    grid-template-columns: 100px 20px;
}

.right-champ-section{
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
}

.champ-section{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ability-key-text{
    font-size: 1.5rem;
    color: white;
}

.ability, .passive{
    height: 60px;
    border-radius: 20px;
    border: 1px goldenrod solid;
    
}

.text-ability-container{
    display: grid;
    place-items: center;
}

.abilities{

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 30px;
    
}


.text-ability-icon-container{
    padding: 10px;
    border-left: 1px goldenrod solid;
    border-radius: 20px;
    cursor: pointer;
}

.text-ability-icon-container:hover{
    background-color: rgba(0, 0, 0, 0.6);
}

.ability-text{

}